################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/Ony.OxygenNotIncluded.Lib/v16
/Ony.OxygenNotIncluded.Lib/obj/Debug
/Ony.OxygenNotIncluded.Lib/Ony.OxygenNotIncluded.Lib.csproj.user
